/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */
code[class*="language-"],
pre[class*="language-"] {
	color: #ccc;
	background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #2d2d2d;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}
.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #999;
}
.token.punctuation {
	color: #ccc;
}
.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
	color: #e2777a;
}
.token.function-name {
	color: #6196cc;
}
.token.boolean,
.token.number,
.token.function {
	color: #f08d49;
}
.token.property,
.token.class-name,
.token.constant,
.token.symbol {
	color: #f8c555;
}
.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
	color: #cc99cd;
}
.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: #7ec699;
}
.token.operator,
.token.entity,
.token.url {
	color: #67cdcc;
}
.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}
.token.entity {
	cursor: help;
}
.token.inserted {
	color: green;
}

.theme-content code{color:#8bc34a;padding:.25rem .5rem;margin:0;font-size:.85em;border-radius:3px}.theme-content code .token.deleted{color:#ec5975}.theme-content code .token.inserted{color:#3eaf7c}.theme-content pre,.theme-content pre[class*=language-]{line-height:1.4;padding:1.25rem 1.5rem;margin:.85rem 0;background-color:#282c34;border-radius:6px;overflow:auto}.theme-content pre code,.theme-content pre[class*=language-] code{color:#fff;padding:0;background-color:transparent;border-radius:0}div[class*=language-]{position:relative;background-color:#282c34;border-radius:6px}div[class*=language-] .highlight-lines{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;padding-top:1.3rem;position:absolute;top:0;left:0;width:100%;line-height:1.4}div[class*=language-] .highlight-lines .highlighted{background-color:rgba(0,0,0,.66)}div[class*=language-] pre,div[class*=language-] pre[class*=language-]{background:0 0;position:relative;z-index:1}div[class*=language-]::before{position:absolute;z-index:3;top:.8em;right:1em;font-size:.75rem;color:rgba(255,255,255,.4)}div[class*=language-]:not(.line-numbers-mode) .line-numbers-wrapper{display:none}div[class*=language-].line-numbers-mode .highlight-lines .highlighted{position:relative}div[class*=language-].line-numbers-mode .highlight-lines .highlighted:before{content:' ';position:absolute;z-index:3;left:0;top:0;display:block;width:3.5rem;height:100%;background-color:rgba(0,0,0,.66)}div[class*=language-].line-numbers-mode pre{padding-left:calc(3.5rem + 1rem);vertical-align:middle}div[class*=language-].line-numbers-mode .line-numbers,div[class*=language-].line-numbers-mode .line-numbers-wrapper{position:absolute;top:0;width:3.5rem;text-align:center;color:rgba(255,255,255,.3);padding:1.25rem 0;line-height:1.4}div[class*=language-].line-numbers-mode .line-numbers br,div[class*=language-].line-numbers-mode .line-numbers-wrapper br{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}div[class*=language-].line-numbers-mode .line-numbers .line-number,div[class*=language-].line-numbers-mode .line-numbers-wrapper .line-number{position:relative;z-index:4;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;font-size:.85em}div[class*=language-].line-numbers-mode::after{content:'';position:absolute;z-index:2;top:0;left:0;width:3.5rem;height:100%;border-radius:6px 0 0 6px;border-right:1px solid rgba(0,0,0,.66);background-color:#282c34}div[class*=language-js]:before{content:"js"}div[class*=language-ts]:before{content:"ts"}div[class*=language-html]:before{content:"html"}div[class*=language-md]:before{content:"md"}div[class*=language-vue]:before{content:"vue"}div[class*=language-css]:before{content:"css"}div[class*=language-sass]:before{content:"sass"}div[class*=language-scss]:before{content:"scss"}div[class*=language-less]:before{content:"less"}div[class*=language-stylus]:before{content:"stylus"}div[class*=language-go]:before{content:"go"}div[class*=language-java]:before{content:"java"}div[class*=language-c]:before{content:"c"}div[class*=language-sh]:before{content:"sh"}div[class*=language-yaml]:before{content:"yaml"}div[class*=language-py]:before{content:"py"}div[class*=language-docker]:before{content:"docker"}div[class*=language-dockerfile]:before{content:"dockerfile"}div[class*=language-makefile]:before{content:"makefile"}div[class~=language-javascript]:before{content:"js"}div[class~=language-typescript]:before{content:"ts"}div[class~=language-markup]:before{content:'html'}div[class~=language-markdown]:before{content:'md'}div[class~=language-json]:before{content:'json'}div[class~=language-ruby]:before{content:'rb'}div[class~=language-python]:before{content:'py'}div[class~=language-bash]:before{content:"sh"}body,html{padding:0;margin:0}body{background:#00303e;color:#fff;font-family:monospace}a{font-weight:500;text-decoration:none;color:#64fcda}p a code{font-weight:400;color:#3eaf7c}blockquote{font-size:1rem;color:#66d9ef;border-left:.2rem solid #66d9ef;margin:1rem 0;padding:.25rem 0 .25rem 1rem}blockquote>p{margin:0}ol,ul{padding-left:1.2em}strong{font-weight:600}h1,h2,h3,h4,h5,h6{font-weight:600;line-height:1.25}.theme-content:not(.custom)>h1,.theme-content:not(.custom)>h2,.theme-content:not(.custom)>h3,.theme-content:not(.custom)>h4,.theme-content:not(.custom)>h5,.theme-content:not(.custom)>h6{margin-top:-3.1rem;padding-top:4.6rem;margin-bottom:0}.theme-content:not(.custom)>h1:first-child,.theme-content:not(.custom)>h2:first-child,.theme-content:not(.custom)>h3:first-child,.theme-content:not(.custom)>h4:first-child,.theme-content:not(.custom)>h5:first-child,.theme-content:not(.custom)>h6:first-child{margin-top:-1.5rem;margin-bottom:1rem}.theme-content:not(.custom)>h1:first-child+.custom-block,.theme-content:not(.custom)>h1:first-child+p,.theme-content:not(.custom)>h1:first-child+pre,.theme-content:not(.custom)>h2:first-child+.custom-block,.theme-content:not(.custom)>h2:first-child+p,.theme-content:not(.custom)>h2:first-child+pre,.theme-content:not(.custom)>h3:first-child+.custom-block,.theme-content:not(.custom)>h3:first-child+p,.theme-content:not(.custom)>h3:first-child+pre,.theme-content:not(.custom)>h4:first-child+.custom-block,.theme-content:not(.custom)>h4:first-child+p,.theme-content:not(.custom)>h4:first-child+pre,.theme-content:not(.custom)>h5:first-child+.custom-block,.theme-content:not(.custom)>h5:first-child+p,.theme-content:not(.custom)>h5:first-child+pre,.theme-content:not(.custom)>h6:first-child+.custom-block,.theme-content:not(.custom)>h6:first-child+p,.theme-content:not(.custom)>h6:first-child+pre{margin-top:2rem}h1:focus .header-anchor,h1:hover .header-anchor,h2:focus .header-anchor,h2:hover .header-anchor,h3:focus .header-anchor,h3:hover .header-anchor,h4:focus .header-anchor,h4:hover .header-anchor,h5:focus .header-anchor,h5:hover .header-anchor,h6:focus .header-anchor,h6:hover .header-anchor{opacity:1}h1{font-size:2.2rem}h2{font-size:1.65rem;padding-bottom:.3rem;border-bottom:1px solid #eaecef}h3{font-size:1.35rem}a.header-anchor{font-size:.85em;float:left;margin-left:-.87em;padding-right:.23em;margin-top:.125em;opacity:0}a.header-anchor:focus,a.header-anchor:hover{text-decoration:none}.line-number,code,kbd{font-family:source-code-pro,Menlo,Monaco,Consolas,"Courier New",monospace}ol,p,ul{line-height:1.7}.page-header{margin-top:10px}.page-header .datetime{display:flex;align-items:center;justify-content:space-between;margin-bottom:10px;padding-right:20px}.page-header .datetime .about-me{color:#fd971f}.page-header .input{height:20px;line-height:20px;display:flex;justify-content:space-between}.page-header .input .left{display:flex}.page-header .input .left .block-1{width:30px;height:100%;display:flex;align-items:center;justify-content:center;background-color:#607d8b}.page-header .input .left .block-1 .block-1-img{height:60%;width:60%}.page-header .input .left .block-2{width:-webkit-fit-content;width:-moz-fit-content;width:fit-content;height:100%;display:flex;align-items:center;background-color:#40c4fe;padding-left:10px}.page-header .input .left .block-2 .block-2-img{height:70%;cursor:pointer;margin-right:5px}.page-header .input .left .block-2 .path{color:#3c3c3c}.page-header .input .left .angle{display:inline-block;width:0;height:0;border-style:solid;border-width:10px 0 10px 11px;border-color:transparent transparent transparent #40c4fe;margin-right:10px}.page-header .input .right{display:flex;cursor:pointer}.page-header .input .right .angle{display:inline-block;width:0;height:0;border-style:solid;border-width:10px 12px 10px 0;border-color:transparent #e4e72c transparent transparent}.page-header .input .right .block-1{width:50px;height:100%;display:flex;align-items:center;justify-content:center;background-color:#e4e72c;color:#795548}.page-header .command{color:#a6e22e}.content-wrap{padding:0 20px 20px}
