.icon.outbound{position:relative;display:inline-block;color:#aaa;vertical-align:middle;top:-1px}
.file-names{list-style:none;display:flex;align-items:center;justify-content:space-between;flex-wrap:wrap}.file-names .file{flex:45%}.file-names .file .file-link{color:#9acd32}.file-names .file .file-link.dir-link{font-weight:700;color:#64fcda}
